@media (min-width: 74.9em){
  .container {
    margin-top: 1rem;  
  }
  .firstSection {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 1rem;
    padding-top: 1rem;
    box-shadow: 3px 3px 30px 3px #11091e14;
    padding-bottom: 0px;
  }
  .userImage {
    background-color: rgba(33, 64, 125, 0.144);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: grid;
    place-content: center;
  }
  .userInfofsection {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .userName {
    p {
      color: #545f7d;
      font-size: 14px;
    }
    p:first-child {
      color: #213f7d;
      font-weight: 500;
      font-size: 22px;
    }
  }
  .userSection2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgba(84, 95, 125, 0.205);
    border-right: 1px solid rgba(84, 95, 125, 0.205);
    padding-inline: 2rem;
    p {
      color: #545f7d;
      font-weight: 500;
      font-size: 14px;
    }
  }
  .userBankDetails {
    font-size: 12px;
    font-weight: 400;
    color: #213f7d;
  }
  .secondSection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-inline: 2rem;
    p {
      width: 100%;
      text-align: center;
      padding-bottom: 5px;
      font-size: 16px;
      font-weight: 400;
    }
    p:first-child {
      // text-decoration: underline;
      border-bottom: 3px solid #39cdcc;
      display: block;
      color: #39cdcc;
    }
  }
  .UserBioData {
    background-color: white;
    box-shadow: 3px 3px 30px 3px #11091e14;
    margin-top: 1rem;
    padding-inline: 1.4rem;
  }
  .biodataname{
    font-size: 16px;
    font-weight: 500;
    color: #213F7D;
  }
  .biodataTitle{
    color: #545F7D;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .biodataValue{
    color: #545F7D;
    font-size: 16px;
    font-weight: 500;
  }
  .biodataContaier{
    display: grid;
    margin-top: 0.5rem;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1rem;  
    width: 100%;
  }
  .biodata {
    border-bottom: 2px solid rgba(33, 64, 125, 0.108);
    padding-bottom: 1rem;
    padding-top: 1rem;
    
  }
}
@media (max-width: 74.9em){
  .container {
    margin-top: 1rem;  
  }
  .firstSection {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 1rem;
    padding-top: 1rem;
    box-shadow: 3px 3px 30px 3px #11091e14;
    padding-bottom: 0px;
    overflow-x: scroll;
  }
  .userImage {
    background-color: rgba(33, 64, 125, 0.144);
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    display: grid;
    place-content: center;
  }
  .userInfofsection {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .userName {
    p {
      color: #545f7d;
      font-size: 14px;
    }
    p:first-child {
      color: #213f7d;
      font-weight: 500;
      font-size: 22px;
    }
  }
  .userSection2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgba(84, 95, 125, 0.205);
    border-right: 1px solid rgba(84, 95, 125, 0.205);
    padding-inline: 2rem;
    p {
      color: #545f7d;
      font-weight: 500;
      font-size: 14px;
    }
  }
  .userBankDetails {
    font-size: 12px;
    font-weight: 400;
    color: #213f7d;
  }
  .secondSection {
    width: 100%;
    min-width: 800px;
    // overflow-x: scroll;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-inline: 2rem;
    p {
      width: 100%;
      text-align: center;
      padding-bottom: 5px;
      font-size: 16px;
      font-weight: 400;
    }
    p:first-child {
      // text-decoration: underline;
      border-bottom: 3px solid #39cdcc;
      display: block;
      color: #39cdcc;
    }
  }
  .UserBioData {
    background-color: white;
    box-shadow: 3px 3px 30px 3px #11091e14;
    margin-top: 1rem;
    padding-inline: 1.4rem;
  }
  .biodataname{
    font-size: 16px;
    font-weight: 500;
    color: #213F7D;
  }
  .biodataTitle{
    color: #545F7D;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .biodataValue{
    color: #545F7D;
    font-size: 16px;
    font-weight: 500;
  }
  .biodataContaier{
    display: grid;
    margin-top: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;  
    width: 100%;    
  }
  .biodata {
    border-bottom: 2px solid rgba(33, 64, 125, 0.108);
    padding-bottom: 1rem;
    padding-top: 1rem;    
  }
}
