@media (max-width: 74.9em) {
  .container {    
    background-color: white;
    width: 50%;
    display: none;
    padding: 6rem;
    gap: 7rem;
    flex-direction: column;
    img {
      display: none;
    }

    img:first-child {
      margin-bottom: 6rem;
    }
  }
}

@media (min-width: 74.9em) {
  .container {
    background-color: white;
    width: 50%;
    padding: 6rem;
    gap: 7rem;
    flex-direction: column;

    img {
      display: block;
    }

    img:first-child {
      margin-bottom: 6rem;
    }
  }
}
