.container {
  // background-color: green;
  padding-left: 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.8rem;  
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;  
  margin-bottom: 3px;  
  color: #213F7D;
  // background-color: red;
}
.p {
  color: #213f7d;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
