@media (min-width: 74.9em) {
  .container {
  scroll-behavior: smooth;
}
.div {
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  overflow-x: hidden;
  position: relative;
  aside {    
    bottom: 0;
    left: 0;
    min-width: 280px;
    background-color: white;
    max-height: calc(100vh - 100px);   
  }
  main {
    width: 100%;  
    overflow-y: scroll;
  }
}
}
@media (max-width: 74.9em) {
  .div {
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    overflow-x: hidden;
    position: relative;
    aside {    
      bottom: 0;
      left: 0;
      min-width: 280px;
      background-color: white;
      max-height: calc(100vh - 100px);   
      display: none;
    }
    main {
      width: 100%;  
      overflow-y: scroll;
    }
  }
}